@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@import 'variables';

body {
  min-width: 320px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  color: $text-color;
  box-sizing: border-box;
  background-color: $background-color;
}

* {
  color: inherit;
  box-sizing: inherit;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  min-width: 63px;
  min-height: 32px;
  padding: 10px 13px;
  border: 1px solid $light-gray;
  border-radius: 4px;
  color: $text-color;
  background-color: $white;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08), inset 0px -1px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.btn--small {
  padding: 8px 13px;
}

.btn--primary {
  border: none;
  color: $white;
  background-color: $light-primary;
}

// Login

.login-page {
  display: table;
  margin: 0 auto;
}

.login {
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
}

.login__box {
  max-width: 380px;
  width: 100vw;
  padding: 40px;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
}

// Form

.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1;
}

.form__group:not(:last-child) {
  margin-bottom: 20px;
}

.form__date-picker {
  margin-left: 40px;
  margin-right: auto a !important;
}

.form__inputs--line {
  align-items: flex-end;
  display: flex;
}

.form__label {
  display: block;
  margin-bottom: 10px;
  line-height: 1;
}

.form__input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid transparent;
  border-image: linear-gradient($middle-gray, $light-gray);
  border-image-slice: 1;
  border-radius: 4px;
  background: $white;
}



.form__btn {
  margin-top: 30px;
}

.form__link {
  margin-top: 10px;
  color: $light-primary;
}

.js-validate-error-field {
  color: $red !important;
  border-color: currentColor !important;
}

.js-validate-error-label {
  color: $red !important;
  margin-top: 5px;
}

.js-validate-error-label::before {
  content: url('/images/input-alert.svg');
  display: inline-block;
  transform: translateY(2px);
  margin-right: 6px;
}

// Modal

.jquery-modal {
  padding: 20px 10px;
}

.modal {
  padding: 40px;
  max-width: 800px;
  width: 100%;
}

// Header

.header {
  background-color: $white;
  padding: 10px 0;
}

.header__container {
  display: flex;
}

.header__new-task-btn {
  margin-right: 20px;
}

.header__sort-text {
  color: $gray;
}

.header__sort-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 0 10px;
  border: 1px solid #BBBFC3;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.header__sort-text {
  margin: 0;
}

.header__sort-box .choices {
  position: unset;
}

.header__sort-box .choices[data-type*=select-one] .choices__inner {
  padding: 0;
}

.header__sort-box .choices__inner {
  min-height: auto;
  padding-left: 2px;
  padding-right: 0;
  margin-right: 17px;
  border: 0;
  background: transparent;
}

.header__sort-box .choices__placeholder {
  opacity: 1;
}

.header__sort-box .choices__list--dropdown {
  left: 0;
}

.choices__item--choice {
  padding: 10px !important;
}

.choices__item::after {
  display: none;
}

.header__sort-box .choices[data-type*=select-one]:after {
  right: 12.5px;
}

.header__user-box {
  margin-right: 20px;
}

// User

.user {
  display: flex;
  align-items: center;
}

.user__avatar {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 8px;
  border: 1px solid $text-color;
}

.user__avatar--mini {
  width: 32px;
  height: 32px;
}

// Todo

.todo {
  margin: 40px 0;
}

.todo__container {
  max-width: 800px;
}

.todo__list {
  position: relative;
}

.todo__item:not(:last-child) {
  margin-bottom: 20px;
}

// Task Card

.task-card {
  position: relative;
  padding: 20px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background: #FFFFFF;
}

.user-list__label {
  margin: 0;
  margin-bottom: 6px;
}

.task-card__menu-btn {
  display: inline-flex;
  position: absolute;
  right: 18px;
  top: 12px;
  padding: 10px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.task-card__sphere {
  display: inline-block;
  margin: 0 2px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #5C5F62;
}

.task-card__menu-btn::before,
.task-card__menu-btn::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #5C5F62;
}

.task-card__title {
  margin: 0;
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
}

.task-card__description {
  margin: 0;
  margin-top: 10px;
}

.task-card__management {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.task-card__input-box {
  position: relative;
  display: flex;
  flex-direction: column;
}

.task-card__label {
  display: block;
  margin-bottom: 8px;
}

.task-card__input-box:not(:last-child) {
  margin-right: 20px;
}

.task-card__select-box {
  margin-right: auto;
}

.task-card__select-box .choices__list--single {
  padding: 0 70px 0 0;
}

.task-card__select-box .choices {
  min-width: 178px;
}

.task-card__select-box .choices__inner {
  min-height: 100%;
  padding: 10px 12px !important;
  border-radius: 5px;
  border: 1px solid $middle-gray;
  background: #EEF5F9;
}

.task-card__input-box::after {
  content: '';
  position: absolute;
  top: 0; bottom: 0;
  right: 0; left: 0;
  opacity: 0;
}

.form__date-picker::after {
  position: unset;
}

.task-card__input-box::before {
  content: attr(data-placeholder);
  position: absolute;
  display: flex;
  align-items: center;
  height: 36px;
  bottom: 1px;
  right: 27px;
  left: 1px;
  padding-left: 12px;
  border-radius: 5px;
  background-color: $white;
}

.task-card__input {
  max-height: 38px;
  min-width: 178px;
  padding: 8px 4px 8px 10px;
  border-radius: 5px;
  border: 1px solid $middle-gray;
}
