@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@import 'variables';

body {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    color: $text-color;
    box-sizing: border-box;
    background-color: $background-color;
}

* {
    color: inherit;
    box-sizing: inherit;
}

.btn {
    min-width: 63px;
    min-height: 32px;
    padding: 10px 13px;
    border: 1px solid $light-gray;
    border-radius: 4px;
    color: $text-color;
    background-color: $white;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08), inset 0px -1px 0px rgba(0, 0, 0, 0.2);
}

.btn--primary {
    border: none;
    color: $white;
    background-color: $light-primary;
}

// Login

.login-page {
    display: table;
    margin: 0 auto;
}

.login {
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}

.login__box {
    max-width: 380px;
    width: 100vw;
    padding: 40px;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
}

// Form

.form {
    display: flex;
    flex-direction: column;
}

.form__title {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1;
}

.form__group:not(:last-child) {
    margin-bottom: 20px;
}

.form__label {
    display: block;
    margin-bottom: 10px;
    line-height: 1;
}

.form__input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-image: linear-gradient($middle-gray, $light-gray);
    border-image-slice: 1;
    border-radius: 4px;
    background: $white;
}

.form__btn {
    margin-top: 30px;
}
