$text-color: #202223;
$text-disabled: #8C9196;
$white: #FFFFFF;
$light-gray: #F1F2F3;
$gray: #6D7175;
$light-primary: #008060;
$primary: #006E52;
$dark-primary: #003D2C;
$red: #D72C0D;
$background-color: #E5E5E5;