@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap);
body {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  color: #202223;
  box-sizing: border-box;
  background-color: #E5E5E5;
}

* {
  color: inherit;
  box-sizing: inherit;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  min-width: 63px;
  min-height: 32px;
  padding: 10px 13px;
  border: 1px solid #BABFC3;
  border-radius: 4px;
  color: #202223;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08), inset 0px -1px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.btn--small {
  padding: 8px 13px;
}

.btn--primary {
  border: none;
  color: #FFFFFF;
  background-color: #008060;
}

.login-page {
  display: table;
  margin: 0 auto;
}

.login {
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
}

.login__box {
  max-width: 380px;
  width: 100vw;
  padding: 40px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
}

.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1;
}

.form__group:not(:last-child) {
  margin-bottom: 20px;
}

.form__label {
  display: block;
  margin-bottom: 10px;
  line-height: 1;
}

.form__input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(#A7ACB1, #BABFC3);
     border-image: linear-gradient(#A7ACB1, #BABFC3);
  border-image-slice: 1;
  border-radius: 4px;
  background: #FFFFFF;
}

.form__btn {
  margin-top: 30px;
}

.form__link {
  margin-top: 10px;
  color: #008060;
}

.js-validate-error-field {
  color: #D72C0D !important;
  border-color: currentColor !important;
}

.js-validate-error-label {
  color: #D72C0D !important;
  margin-top: 5px;
}

.js-validate-error-label::before {
  content: url("/images/input-alert.svg");
  display: inline-block;
  transform: translateY(2px);
  margin-right: 6px;
}

.header {
  background-color: #FFFFFF;
  padding: 10px 0;
}

.header__container {
  display: flex;
}

.header__new-task-btn {
  margin-right: 20px;
}

.header__sort-text {
  color: #6D7175;
}

.header__sort-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 0 10px;
  border: 1px solid #BBBFC3;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.header__sort-text {
  margin: 0;
}

.choices {
  position: unset;
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0;
}

.choices__inner {
  min-height: auto;
  padding-left: 2px;
  padding-right: 0;
  margin-right: 17px;
  border: 0;
  background: transparent;
}

.choices__list--dropdown {
  left: 0;
}

.choices__item--choice {
  padding: 10px !important;
}

.choices__item::after {
  display: none;
}

.choices[data-type*=select-one]:after {
  right: 12.5px;
}

.header__user-box {
  margin-right: 20px;
}

.user {
  display: flex;
  align-items: center;
}

.user__avatar {
  width: 32px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 8px;
  border: 1px solid #202223;
}

.todo {
  margin-top: 40px;
}

.todo__container {
  max-width: 800px;
}

.todo__item:not(:last-child) {
  margin-bottom: 20px;
}

.task-card {
  padding: 20px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background: #FFFFFF;
}

.task-card__title {
  margin: 0;
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
}

.task-card__description {
  margin: 0;
  margin-top: 10px;
}

.task-card__management {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.task-card__input-box {
  display: flex;
  flex-direction: column;
}

.task-card__input-box:first-child {
  margin-right: auto;
}
